apiVersion: v2
type: application
name: opentelemetry-demo
version: 0.22.4
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/open-telemetry/opentelemetry-demo
maintainers:
  - name: dmitryax
  - name: puckpuck
  - name: tylerhelmuth
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "1.4.0"
dependencies:
  - name: opentelemetry-collector
    version: 0.57.2
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    condition: opentelemetry-collector-1.enabled
    alias: opentelemetry-collector-1
  - name: opentelemetry-collector
    version: 0.57.2
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    condition: opentelemetry-collector-2.enabled
    alias: opentelemetry-collector-2
  - name: axosyslog-collector
    repository: https://axoflow.github.io/axosyslog-charts
    version: 0.5.0
  - name: jaeger
    version: 0.69.1
    repository: https://jaegertracing.github.io/helm-charts
    condition: jaeger.enabled
  - name: prometheus
    version: 20.2.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus.enabled
  - name: grafana
    version: 6.52.8
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
